{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<hr>
<h2 class="logo-font mb-4 text-center just-ma">{% trans "Sign In" %}</h2>
<hr>

<div class="container">
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <p class="text-muted text-center">
            {% trans "Don't have an account?" %}
            <a href="{{ signup_url }}" class="text-info">{% trans "Sign up here" %}</a>.
        </p>

        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="row mt-3">
                <div class="col-6">
                    <a class="btn btn-outline-dark w-100 rounded-0 text-uppercase" href="{% url 'home' %}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </div>
                <div class="col-6">
                    <button class="btn btn-dark w-100 rounded-0 text-uppercase" type="submit">
                        <i class="fas fa-sign-in-alt"></i> {% trans "Sign In" %}
                    </button>
                </div>
            </div>

            <p class="text-center mt-3">
                <a class="text-info" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot your password?" %}
                </a>
            </p>
        </form>

        {% if SOCIALACCOUNT_ENABLED %}
            <div class="text-center mt-4">
                <p>{% trans "Or sign in using:" %}</p>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
