{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Password Changed" %}
{% endblock head_title %}

{% block content %}
<hr>
<h2 class="logo-font mb-4 text-center just-ma">{% trans "Password Changed" %}</h2>
<hr>

<div class="container text-center">
    <p class="text-muted">
        {% trans "Your password has been successfully changed. You can now sign in with your new password." %}
    </p>

    <div class="row mt-3">
        <div class="col-6">
            <a class="btn btn-outline-dark w-100 rounded-0 text-uppercase" href="{% url 'home' %}">
                <i class="fas fa-home"></i> Home
            </a>
        </div>
        <div class="col-6">
            <a class="btn btn-dark w-100 rounded-0 text-uppercase" href="{% url 'account_login' %}">
                <i class="fas fa-sign-in-alt"></i> {% trans "Sign In" %}
            </a>
        </div>
    </div>
</div>

{% endblock content %}
