{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Set New Password" %}
{% endblock head_title %}

{% block content %}
<hr>
<h2 class="logo-font mb-4 text-center just-ma">{% trans "Set Your New Password" %}</h2>
<hr>

<div class="container text-center">
    <p class="text-muted">
        {% trans "Enter your new password below to update your account security." %}
    </p>

    <form method="post" action="{% url 'account_set_password' %}" class="text-left">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="row mt-3">
            <div class="col-6">
                <a class="btn btn-outline-dark w-100 rounded-0 text-uppercase" href="{% url 'home' %}">
                    <i class="fas fa-home"></i> Home
                </a>
            </div>
            <div class="col-6">
                <button class="btn btn-dark w-100 rounded-0 text-uppercase" type="submit">
                    <i class="fas fa-lock"></i> {% trans "Set Password" %}
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
