{% extends "base.html" %}
{% load static %}
{% block content %}

{% block page_header %}
<div class="container header-container top-box">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="promo-section">
    <div class="container h-100 ">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto ">
                <h1 class="display-4  text-white">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full  Category Section -->
<div class="category-section py-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/Clearance/" class="category-link">
                    <img src="{% static 'images/Clearance.jpg' %}" class="img-fluid" alt="Special Offer">
                    <h3 class="category-title mt-3">Clearance</h3>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/special-offer/" class="category-link">
                    <img src="{% static 'images/special-offer.jpg' %}" class="img-fluid" alt="Special Offer">
                    <h3 class="category-title mt-3">Special Offer</h3>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/new-arrivals/" class="category-link">
                    <img src="{% static 'images/new-arrivals.jpg' %}" class="img-fluid" alt="New Arrivals">
                    <h3 class="category-title mt-3">New Arrivals</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/clothing/" class="category-link">
                    <img src="{% static 'images/clothing.jpg' %}" class="img-fluid" alt="Clothing">
                    <h3 class="category-title mt-3">Clothing</h3>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/homeware/" class="category-link">
                    <img src="{% static 'images/homeware.jpg' %}" class="img-fluid" alt="Homeware">
                    <h3 class="category-title mt-3">Homeware</h3>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="category-box text-center">
                <a href="/Kitchen & Dining/" class="category-link">
                    <img src="{% static 'images/kitchen-dining.jpg' %}" class="img-fluid" alt="Homeware">
                    <h3 class="category-title mt-3">Kitchen & Dining</h3>
                </a>
            </div>
        </div>
    </div>
</div>


{% block scripts %}
<script src="{% static '/js/promo-section.js' %}"></script>

{% endblock %}
{% endblock %}