.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background:whitesmoke;
	z-index: -1;
}

.products-page .logo-font {
    margin-top: 20px;
    margin-bottom: 10px;
}

.products-page .product-container {
    margin-top: 20px;
}
