<footer class="footer mt-auto">
    <div class="container text-center py-4">
        <p>&copy; 2025 Best Deals. All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.facebook.com/palemauk" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i> Follow us on Facebook
            </a>
        </div>
        <ul class="footer-links">
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        
    </div>
</footer>
